<?xml version="1.0"?>
<!-- Also used in Assignment 4 submission -->
<configuration>
  <appSettings>
	  <!-- Weather API key -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	  <!-- Solar API key -->
    <add key="NrelApiKey" value="IdfDniEE9sTqHCa3OsmNy6Jh5J3ASoj2D8BTHf4F"/>
	  <!-- Windy API key -->
    <add key="WindyApiKey" value="7cjksly8OSwNntphCDKN4K6l9rhSSzPc"/>
	  <!-- Finnhub API key -->
	  <add key="FinnhubApiKey" value="d4dtdjpr01qmhtc63nmgd4dtdjpr01qmhtc63nn0"/>
	  <!-- Newsdata.io API key -->
	  <add key="NewsDataApiKey" value="pub_b5a76d68d9e04b42b74e966fdaba9611" />
  </appSettings>

	<system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="262144"/>

	<authentication mode="Forms">
		<forms loginUrl="Pages/Login.aspx" timeout="30" />
	</authentication>

	<authorization>
		<allow users="*" />
	</authorization>
  </system.web>

	<!-- protect member page -->
	<location path="Pages/Member.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

	<!-- protect staff page -->
	<location path="Pages/Staff.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

	<!-- protect account info page -->
	<location path="Pages/AccountInfo.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="CSE445_Assignment6.WeatherService.WeatherService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeHttp"
          contract="CSE445_Assignment6.WeatherService.IWeatherService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:0/WeatherService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="CSE445_Assignment6.SolarService.SolarService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeHttp"
          contract="CSE445_Assignment6.SolarService.ISolarService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:0/SolarService.svc" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="CSE445_Assignment6.WindService.WindService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeHttp"
          contract="CSE445_Assignment6.WindService.IWindService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:0/WindService.svc" />
          </baseAddresses>
        </host>
      </service>
	    <service behaviorConfiguration="ServiceBehavior" name="CSE445_Assignment6.StockService.StockService">
		    <endpoint address="" binding="basicHttpBinding" bindingConfiguration="LargeHttp"
			    contract="CSE445_Assignment6.StockService.IStockService" />
		    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:0/StockService.svc" />
				</baseAddresses>
			</host>
	    </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="LargeHttp"
                 maxBufferSize="10485760"
                 maxReceivedMessageSize="10485760"
                 openTimeout="00:01:00"
                 closeTimeout="00:01:00"
                 sendTimeout="00:01:30"
                 receiveTimeout="00:01:30">
          <readerQuotas maxArrayLength="10485760"
                        maxStringContentLength="10485760"
                        maxBytesPerRead="10485760"
                        maxDepth="64"
                        maxNameTableCharCount="10485760" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
	  <handlers>
		  <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation,
           Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	  </handlers>
  </system.webServer>
</configuration>
